.contact-container {
  background-color: rgba(164, 205, 126, 1);
}
.contact-form-bg {
  background-color: rgba(255, 255, 255, 0.3);
}

.contact-textcolor {
  color: rgba(240, 144, 0, 1);
  overflow-y: hidden;
}

.send-btn {
  background-color: rgba(240, 144, 0, 1);
}

.send-btn:hover {
  color: rgba(240, 144, 0, 1) !important;
  background: rgba(164, 205, 126, 0.3);
  border: 2px solid rgba(240, 144, 0, 1);
}

.container-bg-img {
  background-image: url("../../public/images/letterbox.svg");
  z-index: 999;
  background-repeat: no-repeat;
  background-size: cover;
}
