



.Cutted-price
{
  text-decoration:line-through;
}

.text-bold
{
  font-weight:400;
  color:grey;
}

.remove-scrollbar
{
  overflow-y:hidden;
}
.product-card-container
{ 
  box-shadow: 1px 3px 5px grey;
}

.cart-button
{  padding: 5px 10px;
  background-color:rgb(85,129,254);
  color:white;
}

.cart-button:hover
{
  background-color: rgb(255, 255, 255) !important;
  color:rgb(85,129,254) !important;
  border: 3px solid rgb(85,129,254) !important;
  font-weight:bold;
}

.product-font-size
{
  font-size:1.1rem;
}

.heading-size
{
  font-size:1.3rem;
}