.over{overflow-y: hidden;

}
.login-heading-border
{
    border-bottom:3px solid gainsboro;
}

.border-right-login
{
    border-right:3px solid gainsboro;
}

.login-gif
{
    height:70px;
    width: auto !important;
}

.login-bg
{
    background-color:rgba(234, 241, 247,0.3);
    box-shadow: 2px 2px 10px rgba(7, 7, 7,0.3);
}

.google-logo
{
    height:28px;
}

.google-logo:hover{
  cursor:pointer;
} 


.form-bg
{
  background-image:url('../../public/images/CirclesBg.svg');
  background-repeat: no-repeat;
  background-position:right;
}

.signup-underline
{ overflow-y: hidden;
  text-decoration:underline;
  
}

.default-link-removed
{
  color:grey;
  text-decoration:none;
}

.text-fade
{
  color:rgb(158, 157, 157);
}

.forgot-password:hover
{
   color:rgb(102, 30, 171);
   cursor:pointer;
}

.login-signup-button
{
  background-color:rgba(117, 207, 193, 1);
}

.login-signup-button:hover
{
  border:2px solid black;
  color:black !important;
}

.form-inner-container
{
  background-color:rgba(154, 220, 209, 0.35);
}

.coffee-img
{
  height: 50px;
}

.laptop-img
{
  height:220px;
}

.plant-pot-img
{
 height:50px;
}

.blue-text
{
  color:blue;
}

.blue-text:hover{
 color:blueviolet;
 cursor:pointer;
}